html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.map {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.pin-selector {
  position: absolute;
  top: 10px;
  left: 60px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
  z-index: 1000; /* Ensures it stays on top of the map */
}

.pin-selector button {
  border: none;
  background: none;
  cursor: pointer;
  margin-right: 5px;
}

.pin-selector img {
  width: 48px;
  height: 64px;
}